{{define "content"}}
<h2>{{T "Edit"}} {{T "Amount"}}</h2>
<form method="POST" class="row g-2 w-75">
  <div class="col-md-3"><input class="form-control" name="amount" value="{{printf "%.2f" .Flow.Amount}}"></div>
  <div class="col-md-3">
    <select name="currency" class="form-select">
      {{range $.Currencies}}<option value="{{.}}" {{if eq $.Flow.Currency .}}selected{{end}}>{{.}}</option>{{end}}
    </select>
  </div>
  <div class="col-md-3">
    <select name="category" class="form-select">
      {{range .Categories}}<option value="{{.ID}}" {{if eq $.Flow.CategoryID .ID}}selected{{end}}>{{.Name}}</option>{{end}}
    </select>
  </div>
  <div class="col-md-3"><input class="form-control" name="description" value="{{.Flow.Description}}"></div>
  <div class="col-md-2 mt-2"><button type="submit" class="btn btn-primary">{{T "Confirm"}}</button></div>
</form>
{{end}}

